@{
    ViewData["Title"] = "Home Page";
}
&nbsp;
<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="~/images/h1.jpg" alt="HotelImage" class="img-responsive" style="width:100%; height:600px"/>
            <div class="carousel-caption" role="option">
                <h3>
                    Welcome to Western Sydney Hotel.
                </h3>
                <p>
                    <a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkID=525028&clcid=0x409">
                        Find Out More
                    </a>
                </p>
            </div>
        </div>
        <div class="item">
            <img src="~/images/h2.jpg" alt="HotelImage" class="img-responsive" style="width:100%; height:600px"/>
            <div class="carousel-caption" role="option">
                <h3>
                    This is the hotel for vacation and dream place to relax.
                </h3>
                <p>
                    <a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkID=525030&clcid=0x409">
                        Find Out More
                    </a>
                </p>
            </div>
        </div>
        <div class="item">
            <img src="~/images/h3.jpg" alt="HotelImage" class="img-responsive" style="width:100%; height:600px"/>
            <div class="carousel-caption" role="option">
                <h3>
                    Western Sydney Hotel is a five-star commercial hotel, a subsidiary of Pengcheng Group.
                </h3>
                <p>
                    <a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkID=525029&clcid=0x409">
                        Find Out More
                    </a>
                </p>
            </div>
        </div>
        <div class="item">
            <img src="~/images/h4.jpg" alt="HotelImage" class="img-responsive" style="width:100%; height:600px"/>
            <div class="carousel-caption" role="option">
                <h3>
                    The Hotel has witnessed the changes and development of Shenzhen and been a splendid part of the development of Chinese hotel industry.
                </h3>
                <p>
                    <a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkID=525027&clcid=0x409">
                        Find Out More
                    </a>
                </p>
            </div>
        </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12">
        <h2>Welcome to Western Sydney Hotel</h2>
        <p>
            Western Sydney Hotel is a five-star commercial hotel, a subsidiary of Pengcheng Group.
            The Hotel has witnessed the changes and development of Shenzhen and been a splendid part of the development of Chinese hotel industry.
            This is the hotel for vacation and dream place to relax.
        </p>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12">
        <h2>Discover</h2>
        <ul>
            <li><a href="https://go.microsoft.com/fwlink/?LinkID=517851">Parramatta Weather</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkID=517853">Parramatta city Council</a></li>
            <li><a href="https://go.microsoft.com/fwlink/?LinkID=398609">What's happening in Parramatta</a></li>
        </ul>
    </div>
</div>
